@using MehList.ViewModels
@model IndexVM

@{
    ViewData["Title"] = "Home Page";
}

<div class="container container-fluid">
    <div class="row">
        <div class="col-md-6">

            @Html.ActionLink("Add mechanism", "AddMechanism", "Mechanism", null, new { @class = "btn btn-success " })
        </div>
        <div class="col-md-6">
            @Html.ActionLink("Add construction object", "AddBuildingObject", "BuildingObject", null, new { @class = "btn btn-success" })
        </div>
    </div>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">#</th>
                @foreach (var m in Model.Mechanisms)
                {
                    <th scope="col">
                        @m.Name <br>
                        @Html.TextBox(new Random().Next(1, 500).ToString(), null, new {@class = "form-control" })
                </th>
                }
            </tr>
        </thead>
        <tbody>
            @foreach (var m in Model.BuildingObjects)
            {
                <tr>
                    <th scope="row">@m.Name <span>(@m.ContractNumber)</span></th>
                    @foreach (var o in Model.Mechanisms)
                    {
                        <td>
                            @Html.TextBox(new Random().Next(1, 500).ToString(), null, new { @class = "form-control" })
                        </td>
                    }
                </tr>
            }
        </tbody>
    </table>
</div>