@using MehList.ViewModels
@model IndexVM

@{
    ViewData["Title"] = "Home Page";
}

<div class="container container-fluid">
    <div class="row">
        <div class="col-md-6">

            @Html.ActionLink("Add mechanism", "AddMechanism", "Mechanism", null, new { @class = "btn btn-success " })
        </div>
        <div class="col-md-6">
            @Html.ActionLink("Add construction object", "AddBuildingObject", "BuildingObject", null, new { @class = "btn btn-success" })
        </div>
    </div>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Name</th>
                <th scope="col">FuelСonsumption</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var m in Model.Mechanisms)
            {
                <tr>
                    <th scope="row">@m.Id</th>
                    <td>@m.Name</td>
                    <td>@m.FuelСonsumption</td>
                </tr>
            }
        </tbody>
    </table>    
    @foreach (var b in Model.BuildingObjects)
    {
        <p>@b.Name</p>
        <p>@b.ContractNumber</p>
    }
</div>